body {
    background-image: url('/images/lines.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.grid-item .gray {
    filter: grayscale(1)
}

.form-container {
    border: 1px solid red;
    border-radius: 20px;
}

.form-check-input:checked {
    background-color: red;
    border-color: red;
}
.form-switch .form-check-input {
    cursor: pointer;
    width: 5em;
    height: 2em;
}
#portfolio-grid {
    height: 1395px;
}

.start-height {
    @media only screen and (max-width: 767px) {
        height: 1820px !important;
    }
}

.step8-height {
    @media only screen and (max-width: 767px) {
        height: 1700px !important;
    }
}

.step9-height {
    @media only screen and (max-width: 767px) {
        height: 1800px !important;
    }
}

.final-height {
    @media only screen and (max-width: 767px) {
        height: 2700px !important;
    }
}